<div class="connexion">
  <form #loginForm="ngForm">
    <mat-form-field class="width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput class="form-control" [ngModel]="user.email" required email #emailInput="ngModel"
        name="email">
    </mat-form-field> <br>
    <div *ngIf="emailInput.invalid && emailInput.touched" class="alert">
      Veuillez renseigner un email valid
    </div>
    <mat-form-field class="width" appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input type="password" matInput class="form-control" [ngModel]="user.password" required password
        #passwordInput="ngModel" name="password">
    </mat-form-field> <br>
    <div class="button">
      <button mat-raised-button (click)="login(loginForm)">
        Se connecter
      </button>
    </div>
  </form>
  <div class="button">
    <button mat-raised-button (click)="goBack()">
      Retour
    </button>
  </div>
</div>
