<div *ngIf="{
  profil: profil$ | async
} as data" class="profil">
  <form [formGroup]="profilForm">
    <h1>Edition du profil</h1>
    <div class="width">
      <span style="color: #f44336;; font-size: small;" *ngIf="errors">
        Il existe des erreurs dans le formulaire
      </span>
    </div>
    <div class="button bot">
      <label for="file" class="button-file">Changer d'avatar</label>
      <input id="file" type="file" (change)="onFileChange($event, profilForm)" class="invisible">
      <input type="text" id="picture" name="picture" formControlName="picture" class="invisible"> <br>
    </div>

    <div class="preview" *ngIf="!!preview">
      <img [src]="preview" alt="test" class="max-width" />
    </div>

    <mat-form-field class=" width" appearance="fill">
      <mat-label>
        Pseudo
        <span style="color: #f44336;; font-size: small;" *ngIf="f.name.touched && f.name.errors">
          Vous devez renseigner ce champs
        </span>
      </mat-label>
      <input type="text" matInput id="name" name="name" formControlName="name" [value]="data.profil?.name">
    </mat-form-field> <br>

    <mat-form-field class="width" appearance="fill">
      <mat-label>Ajoutez une petite description</mat-label>
      <textarea matInput id="description" name="description" formControlName="description"
        [value]="data.profil?.description"></textarea>
    </mat-form-field> <br>

    <mat-form-field class="width" appearance="fill">
      <mat-label>
        Téléphone
        <span style="color: #f44336;; font-size: small;" *ngIf="f.phone.touched && f.phone.errors">
          Vous devez renseigner ce champs
        </span>
      </mat-label>
      <input type="tel" maxlength="10" matInput id="phone" name="phone" formControlName="phone"
        [value]="data.profil?.phone">
    </mat-form-field> <br>

    <mat-form-field class="width" appearance="fill">
      <mat-label>
        Race
        <span style="color: #f44336;; font-size: small;" *ngIf="f.race.touched && f.race.errors">
          Vous devez renseigner ce champs
        </span>
      </mat-label>
      <mat-select id="race" name="race" formControlName="race" [value]="data.profil?.race">
        <mat-option *ngFor="let race of races" [value]="race.value">
          {{race.value}}
        </mat-option>
      </mat-select>
    </mat-form-field> <br>

    <mat-form-field class="width" appearance="fill">
      <mat-label>
        Ville
        <span style="color: #f44336;; font-size: small;" *ngIf="f.city.touched && f.city.errors">
          Vous devez renseigner ce champs
        </span>
      </mat-label>
      <input type="text" matInput id="city" name="city" formControlName="city" [value]="data.profil?.city">
    </mat-form-field> <br>

    <mat-form-field class="width" appearance="fill">
      <mat-label>
        Anniversaire
        <span style="color: #f44336;; font-size: small;" *ngIf="f.birthday.touched && f.birthday.errors">
          Vous devez renseigner ce champs
        </span>
      </mat-label>
      <input matInput [matDatepicker]="picker" id="birthday" name="birthday" formControlName="birthday"
        [value]="data.profil?.birthday">
      <mat-hint>Jour/Mois/Année</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> <br>

    <div class="button">
      <button mat-raised-button (click)="validate(profilForm)">Enregistrer</button>
    </div>
  </form>
</div>
