<div *ngFor="let sale of sortSales(sales);">
  <mat-card class="card">
    <mat-card-header>
      <mat-icon mat-card-avatar class="header-image">
        <img src="/assets/files/{{geProfilInfos(sale)?.picture}}" alt="picture">
      </mat-icon>
      <div class="profil-info">
        <mat-card-title>{{geProfilInfos(sale)?.name}}</mat-card-title>
        <mat-card-subtitle class="italic">{{geProfilInfos(sale)?.race}} de {{geProfilInfos(sale)?.city}}
        </mat-card-subtitle>
      </div>
      <div class="end">
        <div>{{(sale.createdAt) | date:'mediumDate':'+0200':'fr'}}</div>
        <div class="italic">{{sale.type}}</div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <h1>{{sale.title}}</h1>
      <p class="italic">{{sale.message}}</p>
      <app-card-detail [sale]="sale" [profil]="geProfilInfos(sale)"></app-card-detail>

    </mat-card-content>
  </mat-card>
</div>
