<div *ngIf="{
  sales: sales | async
}as data">
  <div *ngFor="let sale of data.sales">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{sale.title}}</mat-card-title>
        <mat-card-subtitle>{{sale.type}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt={{sale.type}}>
      <mat-card-content>
        <p>
          {{sale.message}}
          {{sale.price}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
