.example-card
  max-width: 400px
  margin-bottom: 10px
  background-color: rgba(176, 177, 165, 0.7)

.example-header-image
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
  background-size: cover
