<div class="sale">
  <form [formGroup]="saleForm">
    <h1 *ngIf="!sale">Poster une annonce</h1>
    <h1 *ngIf="!!sale">Editer votre annonce</h1>
    <div class="width">
      <span style="color: #f44336;; font-size: small;" *ngIf="errors">
        Il existe des erreurs dans le formulaire
      </span>
    </div>
    <mat-form-field class="width" appearance="fill">
      <mat-label>
        Titre
        <span style="color: #f44336;; font-size: small;" *ngIf="f.title.touched && f.title.errors">
          Vous devez renseigner ce champs
        </span>
      </mat-label>
      <input type="text" matInput id="title" name="title" formControlName="title" [value]="sale?.title">
    </mat-form-field> <br>

    <mat-form-field class="width" appearance="fill">
      <mat-label>
        Type
        <span style="color: #f44336;; font-size: small;" *ngIf="f.type.touched && f.type.errors">
          Vous devez renseigner ce champs
        </span>
      </mat-label>
      <mat-select matInput id="type" name="type" formControlName="type" [value]="sale?.type">
        <mat-option *ngFor="let type of types" [value]="type.type">
          {{type.type}}
        </mat-option>
      </mat-select>
    </mat-form-field> <br>

    <mat-form-field class="width" appearance="fill">
      <mat-label>
        Ajoutez une petite description
        <span style="color: #f44336;; font-size: small;" *ngIf="f.message.touched && f.message.errors">
          Vous devez renseigner ce champs
        </span>
      </mat-label>
      <textarea matInput id="message" name="message" formControlName="message" [value]="sale?.message"></textarea>
    </mat-form-field> <br>

    <div class="button bot">
      <label for="file" class="button-file">Importer des photos</label>
      <input id="file" type="file" (change)="onFileChange($event)" multiple class="invisible">
      <input type="text" id="pictureOne" name="pictureOne" formControlName="pictureOne" class="invisible">
      <input type="text" id="pictureTwo" name="pictureTwo" formControlName="pictureTwo" class="invisible">
      <input type="text" id="pictureThree" name="pictureThree" formControlName="pictureThree" class="invisible">
    </div> <br>


    <mat-form-field class="width" appearance="fill">
      <mat-label>
        Prix
        <span style="color: #f44336;; font-size: small;" *ngIf="f.price.touched && f.price.errors">
          Vous devez renseigner ce champs
        </span>
      </mat-label>
      <input type="number" matInput id="price" name="price" formControlName="price" [value]="sale?.price">
    </mat-form-field> <br>

    <mat-checkbox matInput id="shipping" name="shipping" formControlName="shipping">Livraison
      possible</mat-checkbox> <br>

    <div class="button" *ngIf="!sale">
      <button mat-raised-button (click)="validate(saleForm)">Poster l'annonce</button>
    </div>
    <div class="button" *ngIf="!!sale">
      <button mat-raised-button (click)="updateSale(sale.id, saleForm)">Mettre à jour</button>
    </div>
    <div class="button">
      <button mat-raised-button (click)="redirect()">Retour</button>
    </div>

  </form>

</div>
